.boss-alphabet {overflow: hidden;padding:0 2px}
.box .box-content .boss-alphabet   ul{padding-left:0; padding-right:20px}
.boss-alphabet ul li{list-style:none;display:inline;float: left;text-align: center;text-transform:uppercase; line-height:22px; margin-bottom:3px}
.boss-alphabet ul li a{ color:#888; text-decoration:none; font:bold 11px Arial;width:23px;height: 22px; line-height:22px; display:inline-block}
.boss-alphabet ul li:hover a { border:1px solid #c0c0c0;width:21px;height: 20px; line-height:20px;display:inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;}
.boss-alphabet ul li:hover a{ color:#e73d1f}